@import "vars";
@import "libs";
@import "fonts";
@import url(https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css);
// *,
// *:before,
// *:after {
//     box-sizing: border-box;
// }

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e30613;
  
  background-size: contain;

  border-radius: 17px;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: rgba(38, 38, 40, 1);
  color: #fff;

  &.no-scroll {
    overflow: hidden;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(38, 38, 40, 1);
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes moveLinear {
  0% {
    opacity: 1;
    right: -24px;

  }

  100% {
    opacity: 0;
    right: 100px;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 1;
    top: 10px;

  }

  100% {
    opacity: 0;
    top: 33px;
  }
}


.page {
  overflow: hidden;
  position: relative;
}


.header {
  position: relative;
  padding: 120px 90px;
  background-color: rgba(44, 62, 80, 0.3);
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  height: 80vh;
  
  &__title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
  }

  &__suptitle {
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.6;
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 42px;
    text-transform: none;
  }
}

.scroll-down {
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;

  img {
    animation-name: scroll-down;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    width: 25px;
    position: absolute;
    left: 13px;
    z-index: 20;
  }
}

iframe {
  border: 0;
}

.ui-widget-content {
  padding-right: 1rem;
  border: 0;
  border-radius: 2%;
  border-right: 5px solid #fff;
  background-color: inherit;
  color: #fff;
  margin-bottom: 70px;
  position: relative;

  .swipe {
    animation: moveLinear 3s linear normal infinite;
    animation-timing-function: ease;
    width: 50px;
    position: absolute;
    bottom: -28px;
    right: -24px;
    z-index: 20;
  }
}

.two {
  height: 200px;
}

.three {
  height: 250px;
}

.banners_small {
  padding: 100px 0 20px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .banners__item {
    cursor: pointer;
    position: relative;
    margin: 0 60px 80px;

    &:hover {
      box-shadow: 0 0 10px #fff;

      .ban__icon-sm {
        opacity: 1;
        height: 75px;
        width: 75px;
      }
    }

    .ban__icon-sm {
      position: absolute;
      top: 40%;
      left: 100%;
      margin-left: -150px;
      opacity: .7;
      transition: all .2s linear;
      height: 65px;
      width: 65px;
    }
  }
}

.banners_big {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;

  #ban,
  #ban2,
  #ban3,
  #ban4,
  #ban5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      box-shadow: 0 0 10px #fff;

      .ban__icon {
        opacity: 1;
        height: 85px;
        width: 85px;
      }
    }

    .ban__icon {

      opacity: .7;
      transition: all .2s linear;
      height: 65px;
      width: 65px;
    }
  }
}

.section_header {
  letter-spacing: 2px;
  line-height: 40px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  border-left: 1px solid #fff;
  padding-left: 20px;
  margin-left: 10px;
}

.banners_video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

video {
  outline: none;
  margin-bottom: 40px;
  width: 49%;
  height: 50vh;
}



@import "media";